﻿

@using cloudcounter.Controllers
@{
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}   @Html.ValidationSummary()   
    @using (Html.BeginForm("Create", "SignUp", FormMethod.Post))
    {
        <h2>New User Registration</h2>
        <tr>
            <td>
               @Html.Label("Desired Username")
                <input type="text" name="username"/> 
            </td>
        </tr>
        
               
            
                @Html.Label("Password")
                @Html.ValidationMessage("password")
                <input type="password" name="password1"/>                        
                @Html.Label("Password Verification")
            <input type="password" name="password2"/> 
            <button class="btn" type="submit">Sign Up</button>                            
    }



