﻿
@model IList<CloudCounter.Domain.Model.Counter>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
    
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2"></div>
        
        <span class="icon-bar"></span>
    </div>
    <div class="span10">
        <h2>title</h2>
        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    @Html.Label("Counter Id")
                </th>
            </tr>         
            @foreach (var counter in Model)
            {
                <tr>
                    <td>
                        @Html.Label(counter.Id)
                    </td>
            </tr>
            }                                   
        </table>

    </div>
</div>



