﻿@model IList<CloudCounter.Domain.Model.Counter>


<table title="Counters" border="1" class="table-striped ">
    <tr>
        <th>@Html.Label("Id")</th>
        <th>@Html.Label("Description")</th>        
        <th>@Html.Label("Last Update")</th>
        <th>@Html.Label("Value")</th>
        <th>@Html.Label("Delete")</th>
    </tr>


 
@foreach (var counter in Model)
{
    <tr>
        <td>
            @Html.Label(counter.Id)
        </td>
    
        <td>
            @Html.Label(counter.Description)
        </td>
    
        <td>
            @Html.Label(counter.LastUpdated.ToString())
        </td>    
    
        <td>    
            @Html.Label(counter.Count.ToString())
        </td>
        
        <td>
            @{
                var actionLink = Url.Action("DeleteCounter", "Account", new {counterid = counter.Id});
                <a href=@actionLink class="icon-remove"></a>
            }
            @*@Html.ActionLink("Delete","DeleteCounter", "Account", new {counterd=counter.Id},new object[] {"class=\"class=icon-remove\""});*@            
        </td>    
    </tr>
    }
    
</table>