﻿@using CloudCounter.Domain.Model
@model CloudCounter.Domain.Model.CreateCounterViewModel

@{
    ViewBag.Title = "title";    
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
        
}

<h2>Create A New Counter</h2>


@using (Html.BeginForm("CreateCounter","Account", new {accountid = Model.OwnerAccount.Id}, FormMethod.Post))
{
    <table>
        <legend>New Counter</legend>
        <tr>
            <td>
                @Html.LabelFor(x=>x.NewCounter.Description)
                @Html.EditorFor(x=>x.NewCounter.Description)
                @Html.HiddenFor(x=>x.NewCounter.OwnerAccountId)                                
            </td>
            <td>
 
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Save Counter</button>
            </td>
        </tr>
    </table>
}
