﻿@model CloudCounter.Domain.Model.Account

@using CloudCounter.Domain.Model

@{
var account = ViewBag.Account;   
}

@{
    ViewBag.Title = "Account Details";
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}

<h2>Account Details</h2>
@{
    <ul class = "nav nav-tabs">
        <li class="active">
            <a href="#">Counters</a>            
        </li>            
        <li>
            <a href="#">API Keys</a>
        </li>
    </ul>
    if (Model.Counters.Count > 0)
    {

        Html.RenderPartial("~/Views/Account/CounterList.cshtml", Model.Counters);
    }
    else
    {
        Html.RenderPartial("~/Views/Shared/SimpleMessage.cshtml", new SimpleMessage() { Message = "No Counters" });
    }
    @Html.ActionLink("Add New Counter", "CreateCounter", "Account", new { Id = Model.Id }, null)
}

