﻿@model CloudCounter.Domain.Model.SignUp

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml"; ;
}

<h2>Account Sign In</h2>
@Html.ValidationSummary()
   @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
    {          
       <h4>Please Sign In</h4>       
        <div>
            @Html.Label("User Name")
            @Html.EditorFor(x=>x.UserName)
        </div>
        
        <div>
            @Html.Label("Password")
            @Html.EditorFor(x=>x.Password1)
        </div>
        <div>
            <button class="btn btn-small" type="submit">Sign In</button>
            <button class="btn btn-small" type="button">Forgot Password</button>
        </div>
    }

