﻿@*@model TModel*@

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>title</h2>

<div>
    <form>
        <fieldset>
            <legend>Legend</legend>
            <label>Label name</label>
            <input type="text" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label class="checkbox">
                <input type="checkbox"> Check me out
            </label>
            <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
</div>

<div>
    @using (Html.BeginForm())
    {   
        <div>
            @Html.Label("User Name")
            @Html.Editor("expression", "templateName", "htmlFieldName")
        </div>
        
        <div>
            @Html.Label("Password")
            @Html.Password("expression", "templateName", "htmlFieldName")
        </div>
        
    }

<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/009/cache/crater-lake-clouds_906_600x450.jpg"/>
        </a>
    </li>
</ul>
</div>
