﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
            @Styles.Render("~/Content/themes/base/css", "~/Content/css")
            <link href="~/Content/bootstrap.min.css" rel="stylesheet">  
            <link href="~/Content/bootstrap-responsive.min.css" rel="stylesh-eet">

    </head>
    <body>
        <div>
            @RenderBody()  
        </div>
            @Scripts.Render("~/bundles/jquery")
            <script src="~/Scripts/bootstrap.min.js"></script>
            @RenderSection("scripts", required: false)

    </body>
</html>