﻿

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
            @Styles.Render("~/Content/themes/base/css", "~/Content/css")
            <link href="~/Content/bootstrap.min.css" rel="stylesheet">  
            <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
            
            <style>
           @*     body {
                    padding-top: 60px;
                }*@
            </style>
           
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Demo Page</a>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Away</a></li>
                </ul>
            </div>
        </div>
        <div>
            @RenderBody()  
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)

    </body>
</html>